.d-wrapper {
    display: flex;
    flex: 1;
    background: #fafafc;
}
.d-container {
    display: flex;
    flex-direction: column;
    /* margin: 2rem; */
    flex: 1;
}

.d-user-info {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.d-user-info--title {
    padding: 1rem 0;
    font-size: 30px;
    font-weight: 500;
}

.ds-container {
    display: flex;
    max-width: 99%;
    gap: 2rem;
    flex-direction: column;
    padding: 1rem 0;
}

.ds-title {
    font-size: 24px;
    font-weight: 500;
}
.ds-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 95%;
}

.ds-card {
    display: flex;
    padding: 2rem;
    gap: 0.5rem;
    /* color: #e3e3e3; */
    color: #fff;
    max-width: 30rem;
    min-width: 15rem;
    min-height: 100px;
    border-radius: 1.8rem;
    flex-direction: column;
    align-items: center;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ds-card p:first-of-type {
    font-size: 20px;
}

.ds-card p:last-of-type {
    font-size: 24px;
    font-weight: 600;
}
.card-red {
    background: #fb8cb1;
    background: linear-gradient(
        90deg,
        rgba(251, 140, 177, 1) 0%,
        rgba(248, 101, 144, 1) 30%,
        rgba(252, 53, 109, 1) 100%
    );
}
.card-purple {
    background: #d88bff;
    background: linear-gradient(
        90deg,
        rgba(216, 139, 255, 1) 0%,
        rgba(204, 119, 247, 1) 50%,
        rgba(185, 55, 252, 1) 100%
    );
}
.card-yellow {
    background: #f5db67;
    background: linear-gradient(90deg, rgba(245, 219, 103, 1) 0%, rgba(247, 196, 13, 1) 50%, rgba(246, 194, 5, 1) 100%);
}

.card-blue {
    background: #71ede7;
    background: linear-gradient(
        90deg,
        rgba(113, 237, 231, 1) 0%,
        rgba(109, 219, 216, 1) 50%,
        rgba(65, 190, 186, 1) 100%
    );
}

.ds-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    max-width: 95%;
}

@media screen and (max-width: 768px) {
    .ds-content {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ds-card {
        min-width: 90%;
    }
    .d-user-info--title {
        padding: 1rem;
        margin-left: 2.5rem;
        font-size: 24px;
        font-weight: 500;
    }
}
