.inv-history-section {
    flex: 1;
    padding: 2rem;
    min-width: 390px;
}
.inv-history-title {
    font-weight: 400;
    font-size: 2.4em;
    letter-spacing: -2px;
    line-height: 28px;
}

.inv-history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    max-width: 95vw;
}
.inv-history-header-toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    .inv-history-section {
        padding: 0.5rem;
    }
    .inv-history-title,
    .inv-history-header-toolbar {
        margin-top: 3rem;
    }
}
