.app-wrapper {
  padding: 1rem;
  margin-left: 16rem;
  background: #fafafc;
}
.app-closed-wrapper {
  margin-left: 4.5rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .app-wrapper {
    margin-left: 0;
    padding: 0.5rem;
  }
}

.invoice2-flex-main {
  display: flex;
  flex: 1;
  min-width: 0;
  background: #fafafc;
}

.button {
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
  cursor: pointer;
}

@media print {
  body {
    margin: 0 !important;
  }
  .invoice-new-section {
    display: none;
  }
  .invoice-new-header {
    display: none;
  }
  .app-wrapper {
    margin: 0 !important;
  }
  .invoice-preview-title {
    display: none;
  }
  .sidebar {
    display: none !important;
  }
  .invoice-preview-section {
    display: flex;
    zoom: 1;
    border: none;
    min-width: 794px;
    min-height: 1123px;
  }
  .mobile-toggle-btn {
    display: none;
  }
  .m-sidebar-overlay {
    display: none;
  }
  .app-closed-wrapper {
    margin: 0 !important;
  }
}
